
a {
	color: blue;
}
p, h1{
	text-align: center;
}
#defibMap iframe {
	max-width:100%;
	max-height: 100%;
}
#defibMap {
	padding-left: 20px;
	padding-right: 10px;
}
#defibinfo img:hover{
	width: 500px;
	height: auto;
}